<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>Bill Splitter | Form Page</title>

<!-- CSS only -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">

</head>
<body>

    <main>
        <div class="container pt-3">
            <h1 class="text-left">Bill Form</h1>
            <div class="row">
                <div class="col-6">
                    <form action="/results" method="POST">
                      <div class="form-group">
                        <label class="mb-2" for="amountInput">{{bill_form.amount.label}}</label>
                        {{bill_form.amount(class_="form-control", id_="amountInput", placeholder_="Enter amount")}}
                      </div>
                      <div class="form-group">
                        <label class="mb-2" for="issueDateInput">{{bill_form.issue_date.label}}</label>
                          {{bill_form.issue_date(class_="form-control", id_="amountInput")}}
                      </div>
                        {% for flatmate in bill_form.flatmates %}
                            {{flatmate.name()}}
                        {% endfor %}
                        <hr>
                        <p class="p-1 m-1">First flatmate</p>
                      <div class="form-group">
                        <label class="mb-2" for="name1Input">{{bill_form.name1.label}}</label>
                        {{bill_form.name1(class_="form-control", id_="name1Input", placeholder_="Name")}}
                      </div>
                      <div class="form-group">
                        <label class="mb-2" for="dnh1Input">{{bill_form.days_in_house1.label}}</label>
                        {{bill_form.days_in_house1(class_="form-control", id_="dnh1Input", placeholder_="Enter days")}}
                      </div>
                        <hr>
                        <p class="p-1 m-1">Second flatmate</p>
                      <div class="form-group">
                        <label class="mb-2" for="name2Input">{{bill_form.name2.label}}</label>
                        {{bill_form.name2(class_="form-control", id_="name2Input", placeholder_="Name")}}
                      </div>
                      <div class="form-group">
                        <label class="mb-2" for="dnh2Input">{{bill_form.days_in_house2.label}}</label>
                        {{bill_form.days_in_house2(class_="form-control", id_="dnh2Input", placeholder_="Enter days")}}
                      </div>
                        {{bill_form.button(class_="btn btn-primary mt-3")}}
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>